<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Consulta 6 - Resultados</title>
</head>
<body>
<h1>Consulta 6 - Resultados</h1>
<p class="lead">Esta consulta muestra una tabla que presenta la distribución de valores por género utilizando los datos del INE. Se muestra el género, el año y el total de datos para cada combinación de género y año.</p>
<table>
    <thead>
    <tr>
        <th>Sexo</th>
        <th>Año</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utilizamos Thymeleaf para iterar sobre la lista de resultados y mostrar cada fila -->
    <tr th:each="resultado : ${resultados}">
        <td th:text="${resultado[0]}"></td>
        <td th:text="${resultado[1]}"></td>
        <td th:text="${resultado[2]}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
